# fly.toml app configuration file generated for lb-server-elixir-chat-elixir on 2025-10-03T19:00:32+08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'lb-server-elixir-chat-elixir'
primary_region = 'nrt'

[build]
  image = 'ghcr.io/livebook-dev/livebook:0.17.2'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '2gb'
  cpu_kind = 'shared'
  cpus = 1
